<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GeCoSwell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TestUSB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <GeCoSwell.Properties.Settings>
            <setting name="tb_tri1" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_tri2" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_tri3" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_tri4" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_consigne" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_con_max" serializeAs="String">
                <value>972</value>
            </setting>
            <setting name="tb_con_min" serializeAs="String">
                <value>51</value>
            </setting>
            <setting name="tb_freq_countmax" serializeAs="String">
                <value>1023</value>
            </setting>
            <setting name="tb_freq_div" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="tb_can10b_max" serializeAs="String">
                <value>1006</value>
            </setting>
            <setting name="tb_can10b_min" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="tb_10b_can1" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_10b_can2" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_10b_can3" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_10b_can4" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_consigne1" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_consigne2" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_PID_cible2" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_PID_cible1" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_con_pour1Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tb_con_max1Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tb_con_min1Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmb_consigne_CAN1Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmb_consigne_CAN2Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tb_con_max2Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tb_consigne2Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gb_ActB1Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gb_ActB2Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gb_ActB3Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gb_ActB4Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmb_chx_cons_visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gb_PID_visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tb_div_sinus1" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="tb_div_sinus2" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="tb_multinivmax1" serializeAs="String">
                <value>1023</value>
            </setting>
            <setting name="tb_multinivmax2" serializeAs="String">
                <value>1023</value>
            </setting>
            <setting name="tb_multinivmax3" serializeAs="String">
                <value>1023</value>
            </setting>
            <setting name="tb_multinivmax4" serializeAs="String">
                <value>1023</value>
            </setting>
            <setting name="tb_multinivmin1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tb_multinivmin2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tb_multinivmin3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tb_multinivmin4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tb_consigne3" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_con_max2" serializeAs="String">
                <value>972</value>
            </setting>
            <setting name="tb_con_min2" serializeAs="String">
                <value>51</value>
            </setting>
            <setting name="tb_con_min3" serializeAs="String">
                <value>51</value>
            </setting>
            <setting name="tb_con_max3" serializeAs="String">
                <value>972</value>
            </setting>
            <setting name="tb_con_max3Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tb_consigne3Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tb_div_sinus3" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="tb_PID_cible3" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_offset1" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_amplitude1" serializeAs="String">
                <value>1023</value>
            </setting>
            <setting name="l_amplitude1visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tb_amplitude2" serializeAs="String">
                <value>1023</value>
            </setting>
            <setting name="l_amplitude2visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tb_offset2" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_amplitude3" serializeAs="String">
                <value>1023</value>
            </setting>
            <setting name="l_amplitude3visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tb_offset3" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="cmb_consigne_CAN3" serializeAs="String">
                <value>True</value>
            </setting>
        </GeCoSwell.Properties.Settings>
        <TestUSB.Properties.Settings>
            <setting name="tb_tri1" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_tri2" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_tri3" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_tri4" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_consigne" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_con_max" serializeAs="String">
                <value>972</value>
            </setting>
            <setting name="tb_con_min" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_freq_countmax" serializeAs="String">
                <value>1023</value>
            </setting>
            <setting name="tb_freq_div" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="tb_can10b_max" serializeAs="String">
                <value>1006</value>
            </setting>
            <setting name="tb_can10b_min" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="tb_10b_can1" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_10b_can2" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_10b_can3" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_10b_can4" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_consigne1" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_consigne2" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_PID_cible2" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_PID_cible1" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="tb_con_pour1Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tb_con_max1Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tb_con_min1Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmb_consigne_CAN1Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmb_consigne_CAN2Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tb_con_max2Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tb_consigne2Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gb_ActB1Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gb_ActB2Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gb_ActB3Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gb_ActB4Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmb_chx_cons_visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gb_PID_visible" serializeAs="String">
                <value>True</value>
            </setting>
        </TestUSB.Properties.Settings>
    </userSettings>
</configuration>
